
 <div>

     <mat-toolbar>
       <mat-icon (click)="drawer.toggle()">reorder</mat-icon>
       
     </mat-toolbar>

    <mat-drawer-container style="height:2000px;" class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side" style="padding:10px;">
        
        <li style="margin-bottom:30px;">
          <strong routerLink="/dashboard">Grafico 1</strong>
        </li>
        <li>
            <strong>Item 2 sdasdsadasdasdasd</strong>
        </li>
        

      </mat-drawer>
    
      <div class="example-sidenav-content">
        <router-outlet></router-outlet>
      </div>
    
    </mat-drawer-container>

 </div>
    
  






